<div class="manu-breadcrumb">
    <app-breadcrumb></app-breadcrumb>
</div>

<nav mat-tab-nav-bar>
	<a mat-tab-link routerLink="./app-customer-ac-lo" routerLinkActive #customerAcTab="routerLinkActive" [active]="customerAcTab.isActive">{{'Customer Acquisitionand Loyality'|translate}}</a>
    <a mat-tab-link routerLink="./app-customer-details" routerLinkActive #customerDetailsTab="routerLinkActive" [active]="customerDetailsTab.isActive">{{'Customer Details'|translate}}</a>
    <a mat-tab-link routerLink="./app-customer-crt-bal" routerLinkActive #customerCrtBalTab="routerLinkActive" [active]="customerCrtBalTab.isActive">{{'Customer Credit Balance'|translate}}</a>
</nav>

<router-outlet></router-outlet>