table,
th,
td {
  border: 1px solid #efefef;
  border-collapse: collapse;
  height: 100px;
  text-align: center;
}

::ng-deep .w3-black,
.w3-hover-black:hover {
  color: #fff !important;
  background-color: #2b468d !important;
  margin: 0px 0px 0px 99px;
}

::ng-deep .w3-teal,
.w3-hover-teal:hover {
  color: #fff !important;
  background-color: #009688 !important;
  font-size: 14px !important;
}

.fieldd {
  border: 1px solid #efefef;
  cursor: pointer;
  /* height: 50px; */
  margin: 30px 30px 20px 30px;
  color: #f50808;
  border-spacing: 0;
}

::ng-deep .my-class .modal-dialog { 
  max-width: 85%;
  width: 85%;
}


th {
  white-space: pre-wrap;
}