<div class="pwd panel panel-infos">
    <div class="panel-body">
        <form [formGroup]="pwdForm" (ngSubmit)="onPwdFormClick(pwdForm)">
            <div class="row">
                <div class="form-group col-sm-8">
                    <label path="username" for="username" cssClass="required">{{'UserName' | translate }}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" name="username" id="username" formControlName="username"
                            readonly="readonly" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-8">
                    <label path="password" for="password" cssClass="required">{{'Password' | translate }}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" id="password" class="form-control" name="password"
                            formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-primary mr-2">
                            {{'Submit' | translate }}
                        </button>
                        <button type="button" class="btn btn-warning mr-2" (click)="onReset()">
                            {{'Clear' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>