<div [@.disabled]="temporaryDisabled">
    <div class="side-menu" *ngIf="isShow" [@sideMenu]>
        <div class="row">
            <div>
                <nav class="navbar navbar-default" role="navigation">
                    <div class="side-menu-container">
                        <ul class="nav navbar-nav">


                            <li id="dropdown" title="Masters" *ngIf="role == 'Admin'">
                                <a data-toggle="collapse" href="#Masters"
                                    [ngClass]="parentMenuString == 'Masters' ? 'is-active' : ''">
                                    <i class="fa fa-industry"
                                        [ngClass]="parentMenuString == 'Masters' ? 'is-active' : ''"></i>
                                    <span [ngClass]="parentMenuString == 'Masters' ? 'is-active' : ''">Masters
                                    </span>
                                    <span class="caret"></span>
                                </a>
                                <div id="Masters" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li title="Doctorsmaster" routerLink="./app-masters/app-doctorsmaster"
                                                [ngClass]="childMenuString == 'Doctorsmaster' ? 'is-active' : ''"
                                                (click)="onMenuChildClick('Masters', 'Doctorsmaster')">
                                                <span><i class="fas fa-user-md"
                                                        [ngClass]="childMenuString == 'Doctorsmaster' ? 'is-active' : ''"></i></span>
                                                <a><span
                                                        [ngClass]="childMenuString == 'Doctorsmaster' ? 'is-active' : ''">Doctors
                                                    </span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="Masters" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li title="Employeemaster" routerLink="./app-masters/app-employeemaster"
                                                [ngClass]="childMenuString == 'Employeemaster' ? 'is-active' : ''"
                                                (click)="onMenuChildClick('Masters', 'Employeemaster')">
                                                <span><i class="fa fa-joomla"
                                                        [ngClass]="childMenuString == 'Employeemaster' ? 'is-active' : ''"></i></span>
                                                <a><span
                                                        [ngClass]="childMenuString == 'Employeemaster' ? 'is-active' : ''">Employee
                                                    </span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="Masters" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li title="Machinemaster" routerLink="./app-masters/app-machinemaster"
                                                [ngClass]="childMenuString == 'Machinemaster' ? 'is-active' : ''"
                                                (click)="onMenuChildClick('Masters', 'Machinemaster')">
                                                <span><i class="fa fa-cogs"
                                                        [ngClass]="childMenuString == 'Machinemaster' ? 'is-active' : ''"></i></span>
                                                <a><span
                                                        [ngClass]="childMenuString == 'Machinemaster' ? 'is-active' : ''">Executive
                                                    </span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="Masters" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li title="Regionmaster" routerLink="./app-masters/app-regionmaster"
                                                [ngClass]="childMenuString == 'Regionmaster' ? 'is-active' : ''"
                                                (click)="onMenuChildClick('Masters', 'Regionmaster')">
                                                <span><i class="fa fa-globe" aria-hidden="true"
                                                        [ngClass]="childMenuString == 'Regionmaster' ? 'is-active' : ''"></i></span>
                                                <a><span
                                                        [ngClass]="childMenuString == 'Regionmaster' ? 'is-active' : ''">Region
                                                    </span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>


                            </li>


                            <li id="dropdown" title="Booking">
                                <a data-toggle="collapse" href="#Booking"
                                    [ngClass]="parentMenuString == 'Booking' ? 'is-active' : ''">
                                    <i class="fa fa-file-text"
                                        [ngClass]="parentMenuString == 'Booking' ? 'is-active' : ''"></i>
                                    <span [ngClass]="parentMenuString == 'Booking' ? 'is-active' : ''">Booking</span>
                                    <span class="caret"></span>
                                </a>
                                <div id="Booking" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li title="Appointment"
                                                routerLink="./app-booking/app-appointment/app-bookingentry"
                                                [ngClass]="childMenuString == 'Appointment' ? 'is-active' : ''"
                                                (click)="onMenuChildClick('Booking', 'Appointment')">
                                                <span><i class="fa fa-hospital-o" aria-hidden="true"
                                                        [ngClass]="childMenuString == 'Appointment' ? 'is-active' : ''"></i></span>
                                                <a><span
                                                        [ngClass]="childMenuString == 'Appointment' ? 'is-active' : ''">Appointment
                                                    </span></a>
                                            </li>
                                            <li title="Appointment" class="mobile" [matMenuTriggerFor]="Appointment">
                                                <span><i class="fa fa-filter"></i></span>
                                            </li>
                                            <mat-menu #Appointment="matMenu" #menu="matMenu"
                                                backdropClass="Appointment">
                                                <li mat-menu-item
                                                    routerLink="./app-booking/app-appointment/app-bookingentry">
                                                    Booking Entry</li>
                                                <li mat-menu-item
                                                    routerLink="./app-booking/app-appointment/app-bookingmanagement">
                                                    Bookingmanagement</li>
                                            </mat-menu>
                                            <li title="CaseEntry"
                                                routerLink="./app-booking/app-caseentry/app-caseentryy"
                                                [ngClass]="childMenuString == 'CaseEntry' ? 'is-active' : ''"
                                                (click)="onMenuChildClick('Booking', 'CaseEntry')">
                                                <span><i class="fas fa-hospital"
                                                        [ngClass]="childMenuString == 'CaseEntry' ? 'is-active' : ''"></i></span>
                                                <a><span [ngClass]="childMenuString == 'CaseEntry' ? 'is-active' : ''">Case
                                                        Entry
                                                    </span></a>
                                            </li>
                                            <mat-menu #CaseEntry="matMenu" #menu="matMenu" backdropClass="CaseEntry">
                                                <li mat-menu-item
                                                    routerLink="./app-booking/app-caseentry/app-caseentryy">
                                                    CaseEntryy</li>
                                            </mat-menu>
                                            <li title="CalendarTable" routerLink="./app-booking/app-calendar-table"
                                                [ngClass]="childMenuString == 'CalendarTable' ? 'is-active' : ''"
                                                (click)="onMenuChildClick('Booking', 'CalendarTable')">
                                                <span><i class="fa fa-calendar"
                                                        [ngClass]="childMenuString == 'CalendarTable' ? 'is-active' : ''"></i></span>
                                                <a><span
                                                        [ngClass]="childMenuString == 'CalendarTable' ? 'is-active' : ''">Calendar
                                                    </span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>