<fieldset class="scheduler-border">
    <legend class="scheduler-border">{{'Sales Taxes and Charges Template' | translate }}</legend>
    <div class="formData">
        <form [formGroup]="salesForm" (ngSubmit)="onOrderClick($event,salesForm)">
            <div class="row">
                <input class="form-control" path="id" type="hidden" readonly="true" />
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="title" for="title" cssClass="required">{{'Title' | translate }}</label>
                        <input class="form-control" path="title" id="title" name="title" formControlName="title"
                            [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                            <div *ngIf="f.title.errors.required">{{'Title is Required' | translate }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="company" for="company" cssClass="required">{{'Company' | translate }}</label>
                        <input class="form-control" path="company" id="company" name="company" formControlName="company"
                            [ngClass]="{ 'is-invalid': submitted && f.company.errors }" />
                        <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                            <div *ngIf="f.company.errors.required">{{'Company is Required' | translate }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="type" for="type" cssClass="required">{{'Type' | translate }}</label>
                        <input class="form-control" path="type" id="type" name="type" formControlName="type"
                            [ngClass]="{ 'is-invalid': submitted && f.type.errors }" />
                        <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                            <div *ngIf="f.type.errors.required">{{'Type is Required' | translate }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="accounthead" for="accounthead" cssClass="required">{{'Account Head' | translate
                            }}</label>
                        <input class="form-control" path="accounthead" id="accounthead" name="accounthead"
                            formControlName="accounthead"
                            [ngClass]="{ 'is-invalid': submitted && f.accounthead.errors }" />
                        <div *ngIf="submitted && f.accounthead.errors" class="invalid-feedback">
                            <div *ngIf="f.accounthead.errors.required">{{'Account Head is Required' | translate }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="rate" for="rate" cssClass="required">{{'Rate' | translate }}</label>
                        <input class="form-control" path="rate" id="rate" name="rate" formControlName="rate"
                            [ngClass]="{ 'is-invalid': submitted && f.rate.errors }" mask="0*.00" />
                        <div *ngIf="submitted && f.rate.errors" class="invalid-feedback">
                            <div *ngIf="f.rate.errors.required">{{'Rate is Required' | translate }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="amount" for="amount" cssClass="required">{{'Amount' | translate }}</label>
                        <input class="form-control" path="amount" id="amount" name="amount" formControlName="amount"
                            [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" mask="0*.00" />
                        <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                            <div *ngIf="f.amount.errors.required">{{'Amount is Required' | translate }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="total" for="total" cssClass="required">{{'Total' | translate }}</label>
                        <input class="form-control" path="total" id="total" name="total" formControlName="total"
                            [ngClass]="{ 'is-invalid': submitted && f.total.errors }" mask="0*.00" />
                        <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                            <div *ngIf="f.total.errors.required">{{'Total is Required' | translate }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-primary mr-2">
                            {{'Submit' | translate }}
                        </button>
                        <button type="button" class="btn btn-warning mr-2" (click)="onReset()">
                            {{'Clear' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fieldset>
<div class="scrollbar">
    <fieldset class="scheduler-border">

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
                <div class="form-group text-right">
                    <button type="button" class="btn btn-primary mr-2" style="margin-right: 45px;"
                        (click)="onGeneratePdfReport()">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>{{'Export Pdf' | translate }}
                    </button>
                    <button type="button" class="btn btn-warning mr-2" (click)="onGenerateExcelReport()">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>{{'Export Excel' | translate }}
                    </button>
                </div>
            </div>
        </div>

        <legend class="scheduler-border">{{'Sales Taxes and Charges Template' | translate }}</legend>
        <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;"
            [enableFilter]="true" [enableSorting]="true" [pagination]="true" [showToolPanel]="true"
            [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </fieldset>
</div>