<div class="manu-breadcrumb">
    <app-breadcrumb></app-breadcrumb>
</div>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">{{'Domain'|translate}}</legend>
    <div class="formData">
        <form [formGroup]="domainForm" (ngSubmit)="onOrderClick($event, domainForm)">
            <div class="row">
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <input type="hidden" class="form-control" path="domainId" />
                        <label path="domainname" for="domainname" cssClass="required">{{'Domain
                            Name'|translate}}</label>
                        <input formControlName="domainname" class="form-control" path="domainname"
                            [ngClass]="{ 'is-invalid': submitted && f.domainname.errors }" name="domainname" />
                        <div *ngIf="submitted && f.domainname.errors" class="invalid-feedback">
                            <div *ngIf="f.domainname.errors.required">{{'Domain Name is required'|translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="description" for="description" cssClass="required">{{'Domain
                            Description'|translate}}</label>
                        <input formControlName="description" class="form-control" path="description"
                            [ngClass]="{ 'is-invalid': submitted && f.description.errors }" name="description" />
                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                            <div *ngIf="f.description.errors.required">{{'Domain Description is required'|translate}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-primary mr-2">
                            {{'Submit' | translate }}
                        </button>
                        <button type="button" class="btn btn-warning mr-2" (click)="onReset()">
                            {{'Clear' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fieldset>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">{{'Domain'|translate}}</legend>
    <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;"
        [enableFilter]="true" [enableSorting]="true" [pagination]="true" [showToolPanel]="true"
        [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
</fieldset>