<div class="manu-breadcrumb">
    <app-breadcrumb></app-breadcrumb>
</div>

<nav mat-tab-nav-bar>
	<a mat-tab-link routerLink="./app-support-analytics" routerLinkActive #supAnalyticTab="routerLinkActive" [active]="supAnalyticTab.isActive">{{'Support Analytics'|translate}}</a>
    <a mat-tab-link routerLink="./app-minutes-first-response" routerLinkActive #minuteTab="routerLinkActive" [active]="minuteTab.isActive">{{'Minutes to First Reponse for Issues'|translate}}</a>
</nav>

<router-outlet></router-outlet>