 /* .emp-time-picker {
   margin-top: 0px !important;
   border: 1px solid outline;
   border-radius: 4px !important;
   margin-bottom: 5px;
   display: inline-flex;
   width: 35px !important;
   height: 24px !important;
   padding: 5px !important;
   color: primary-text !important;
   border: 0px !important;
   border-radius: 4px !important;
 }

 .ngb-tp-spacer {
   width: 5px !important;
 }

 .time-display {
   margin-bottom: 5px;

   .time-in {
     font-size: 10px;
     font-weight: 600;
     color: primary;
     border-radius: 20px;
     padding: 2px 5px;
     cursor: pointer;
     background: #ECF4FE;
     margin-right: 5px;
   }

   .time-out {
     font-size: 10px;
     font-weight: 600;
     color: #3EAE4D;
     border-radius: 20px;
     cursor: pointer;
     background: #E9F6EB;
     padding: 2px 5px;
   }
 } */