<div class="manu-breadcrumb">
    <app-breadcrumb></app-breadcrumb>
</div>

<nav mat-tab-nav-bar>
    <div>
        <a mat-tab-link [matMenuTriggerFor]="salesInvoice"
            >{{'Sales Invoice' | translate}}<b class="caret"></b
        ></a>
        <mat-menu #salesInvoice="matMenu">
            <ul>
                <li [ngStyle]="{ color: colorthemes_1 }">
                    <a
                        mat-menu-item
                        mat-tab-link
                        routerLink="./app-accounts-receivable"
                        routerLinkActive
                        >{{'Accounts Receivable' | translate}}</a
                    >
                </li>
                <li [ngStyle]="{ color: colorthemes_1 }">
                    <a
                        mat-menu-item
                        mat-tab-link
                        routerLink="./app-accountsrec-summary"
                        routerLinkActive
                        >{{'Accounts Receivable Summary' | translate}}</a
                    >
                </li>
                <li [ngStyle]="{ color: colorthemes_1 }">
                    <a
                        mat-menu-item
                        mat-tab-link
                        routerLink="./app-delivered-items"
                        routerLinkActive
                        >{{'Delivered Items To Be Billed' | translate}}</a
                    >
                </li>
                <li [ngStyle]="{ color: colorthemes_1 }">
                    <a
                        mat-menu-item
                        mat-tab-link
                        routerLink="./app-gross-profit"
                        routerLinkActive
                        >{{'Gross Profit' | translate}}</a
                    >
                </li>
                <li [ngStyle]="{ color: colorthemes_1 }">
                    <a
                        mat-menu-item
                        mat-tab-link
                        routerLink="./app-order-bill"
                        routerLinkActive
                        >{{'Ordered Items To Be Billed'|translate}}</a
                    >
                </li>
            </ul>
        </mat-menu>
    </div>

    <div>
        <a mat-tab-link [matMenuTriggerFor]="purchaseInvoice"
            >{{'Purchase Invoice' | translate}}<b class="caret"></b
        ></a>
        <mat-menu #purchaseInvoice="matMenu">
            <ul>
                <li [ngStyle]="{ color: colorthemes_1 }">
                    <a
                        mat-menu-item
                        mat-tab-link
                        routerLink="./app-accounts-payable"
                        routerLinkActive
                        >{{'Accounts Payable' | translate}}</a
                    >
                </li>
                <li [ngStyle]="{ color: colorthemes_1 }">
                    <a
                        mat-menu-item
                        mat-tab-link
                        routerLink="./app-accountspay-summary"
                        routerLinkActive
                        >{{'Accounts Payable Summary' | translate}}</a
                    >
                </li>
                <li [ngStyle]="{ color: colorthemes_1 }">
                    <a
                        mat-menu-item
                        mat-tab-link
                        routerLink="./app-received-items"
                        routerLinkActive
                        >{{'Received Items To Be Billed'|translate}}</a
                    >
                </li>
                <li [ngStyle]="{ color: colorthemes_1 }">
                    <a
                        mat-menu-item
                        mat-tab-link
                        routerLink="./app-itemwise-purchase"
                        routerLinkActive
                        >{{'Item-Wise Purchase Register' | translate}}</a
                    >
                </li>
                <li [ngStyle]="{ color: colorthemes_1 }">
                    <a
                        mat-menu-item
                        mat-tab-link
                        routerLink="./app-purchase-order"
                        routerLinkActive
                        >{{'Purchased Items To Be Billed'|translate}}</a
                    >
                </li>
            </ul>
        </mat-menu>
    </div>
    <a
        mat-menu-item
        mat-tab-link
        routerLink="./app-payment-request"
        routerLinkActive
        #payReqTab="routerLinkActive"
        [active]="payReqTab.isActive"
        >{{'Payment Request' | translate}}</a
    >
    <a
        mat-menu-item
        mat-tab-link
        routerLink="./app-payment-entry"
        routerLinkActive
        #payEntryTab="routerLinkActive"
        [active]="payEntryTab.isActive"
        >{{'Payment Entry' | translate}}</a
    >
    <a
        mat-menu-item
        mat-tab-link
        routerLink="./app-itemwisepurchase"
        routerLinkActive
        #itemWisePurchaseTab="routerLinkActive"
        [active]="itemWisePurchaseTab.isActive"
        >{{'Item-Wise Purchase Register' | translate}}</a
    >
</nav>
<router-outlet></router-outlet>
