<fieldset class="scheduler-border">
    <legend class="scheduler-border"> {{'Departments'|translate}}</legend>
    <div class="formData">
        <form [formGroup]="deptForm" (ngSubmit)="onUserClick($event, deptForm)">
            <div class="row">
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="departmentname" for="departmentname" cssClass="required">{{'Department
                            Name'|translate}}</label>
                        <input formControlName="departmentname" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.departmentname.errors }" />
                        <div *ngIf="submitted && f.departmentname.errors" class="invalid-feedback">
                            <div *ngIf="f.departmentname.errors.required">{{'Department Name is required'|translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <input class="form-control" path="id" type="hidden" />
                        <label path="departmentdescription" for="departmentdescription"
                            cssClass="required">{{'Department Description'|translate}}</label>
                        <input formControlName="departmentdescription" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.departmentdescription.errors }" />
                        <div *ngIf="submitted && f.departmentdescription.errors" class="invalid-feedback">
                            <div *ngIf="f.departmentdescription.errors.required">{{'Department Description is
                                required'|translate}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label for="domainslno">{{'Domain'|translate}}</label>
                        <select formControlName="domainslno" class="form-control" name="domainslno" id="domainslno"
                            [ngClass]="{ 'is-invalid': submitted && f.domainslno.errors }">
                            <option value="" hidden> - {{'Select the Domain'|translate}} - </option>
                            <option value="null"> - {{'Select the Domain'|translate}} - </option>
                            <option *ngFor="let domain of domains" [value]="domain.domainId">
                                {{domain.domainname}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.domainslno.errors" class="invalid-feedback">
                            <div *ngIf="f.domainslno.errors.required">Domain is required{{''|translate}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 ">
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-primary mr-2">
                            {{'Submit' | translate }}
                        </button>
                        <button type="button" class="btn btn-warning mr-2" (click)="onReset()">
                            {{'Clear' | translate }}
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>

</fieldset>

<fieldset class="scheduler-border">
    <legend class="scheduler-border">{{'Departments'|translate}}</legend>
    <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;"
        [pagination]="true" [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
</fieldset>