<div class="manu-breadcrumb">
    <app-breadcrumb></app-breadcrumb>
</div>

<nav mat-tab-nav-bar>
	<a mat-tab-link routerLink="./app-item-request" routerLinkActive #itemRequestTab="routerLinkActive" [active]="itemRequestTab.isActive">{{'Item Request' | translate }}</a>
    <a mat-tab-link routerLink="./app-item-ordered" routerLinkActive #itemOrderTab="routerLinkActive" [active]="itemOrderTab.isActive">{{'Item Ordered' | translate }}</a>
    <a mat-tab-link routerLink="./app-matreq-supwise" routerLinkActive #matreqTab="routerLinkActive" [active]="matreqTab.isActive">{{'Material Request Supply Wise' | translate }}</a>
    <a mat-tab-link routerLink="./app-item-puhistory" routerLinkActive #puhistoryTab="routerLinkActive" [active]="puhistoryTab.isActive">{{'Item-PUHistory' | translate }}</a>
</nav>

<router-outlet></router-outlet>